* {
    box-sizing: border-box;
  } 

  body{
    font-family: 'Roboto';
    
    background: #FAFAFA;
    margin: 0 auto;
}

.container{
    background: #FAFAFA;
    max-width: 1366px;
    margin: 0 auto;
    height: 2800px;
}



.barra-lateral{
    height:500px;
    position:absolute;
    width:293px;
    background: #FAFAFA;
    right:-50px;
    top: 100px;
    
}

.barra-lateral-perfil{
    display: flex;
    width: 100%;
    margin-left: 20px;
    margin-top: 20px;
    align-items: center;
}
.barra-lateral-perfil img{
    width: 55px;
    border-radius: 100%;
    margin-right: 20px;
}
.barra-lateral-perfil h1{
    font-weight: bold;
    padding-bottom: 6px;
}
.barra-lateral-perfil h2{
    color: #979797;
}
.barra-lateral-texto{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
    margin-top:40px;
}
.barra-lateral-texto p{
    color:#8E8E8E;
    padding-left: 30px;
}

.barra-lateral-sugestoes{
    display: flex;
    align-items: center;
    font-size: 12px;
    width: 100%;
    justify-content: space-between;
    margin-top: 25px;
} 
.barra-lateral-sugestoes img{
    width: 50px;
    height:50px;
    border-radius: 100%;
    margin-left: 0px;
}   

.sugestoes-esquerdo{
    display:flex;
    width: fit-content;
    align-items: center;
    justify-content: space-between;
}
.sugestoes-esquerdo div{
    padding-left: 20px;
}
.barra-lateral-sugestoes h3{
    padding-bottom: 5px;
}




.feed{  
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 88px;
    margin-left: 16%;
    background: #fafafa;
    height:fit-content;
    width:614px;
}
 

.stories{
    height: 110px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    overflow-x: hidden;
    gap: 50px;
    position: relative;
}
.story{
    position: relative;
    width: 100px;
    height:100px;
}
.story p{
    position: absolute;
    left: 17px;
    bottom: 5px;
    font-size: 13px;
    font-weight: 500;
}
.stories img{
    border-radius: 100%
}
.story-perfil{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 7px;
    left: 10px;
}
.story-fundo{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 5px;
    top: 2px;   
}
.flecha-stories{
    position: absolute;
    top: 25%;
    left: 93%;
    font-size:40px;
    color: #ffffff;
    font-weight: bolder;
}






.posts{
    width:100%;
    background-color: #FFFFFF;
    height:80%;
}
.post{
    width: inherit;
    height:800px    ;
    margin-bottom:60px;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.post-superior{
    display: flex;
    justify-content: space-between;
    height:30px;
    width: 100%;    
    padding-right: 30px;
    margin-bottom: 50px;
    background-color: inherit;
}

.post-usuario{
    display: inherit;
    justify-content: space-around;
    align-items: center;
    width:25%;
    font-weight: 500;
    font-size: 16px; 
    padding-top: 40px;
}
.post-usuario h3{
    color: #262626;
}

.post-superior h6{
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 100px;
    padding-top: 20px;
}
.post-superior h6:hover{
    opacity: 70%;
    cursor: pointer;
}

.post-superior img{
    height: 50px;
    border-radius: 100%;
}

.post-imagem > img{
    height: auto;
    width: 100%;
}
.post-icones{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    width: 98%;
    margin-top: 10px;
}
.post-icones-esquerdo{
    display: flex;
    justify-content: space-around;
    width: 20%;   
}
.post-curtidas{
    display: flex;
    width:100%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}
.post-icones p:hover{
    cursor: pointer;
    color: #c2c2c2d0;
}
.post-curtidas img{
    width: 40px;
    height:40px;
    border-radius: 100%;
    margin-right: 10px;
    margin-left: 10px;
}
.post-curtidas h5{
    margin: 0 3px;
    font-weight: 600;
}


.barra-superior{
    width:100%;
    position: fixed;
    left:0;
    top:0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-bottom: #DBDBDB;
    border-style: solid;
    
}
.barra-superior1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:910px;
}
.logo {
    display:flex;
    width:150px;
    justify-content: space-between;
    font-size:25px;  
}
.box1 {
    height: 22px;
    width: 1px;
    background-color: lightgray;
}

.pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    color:#979797;
    font-size: 17px;
    border-top: solid 1px;
    border-right: solid 1px;  
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-color:  #DBDBDB;
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
}

.barra-superior-direito{
    display:flex;
    justify-content: space-between;
    width: 150px;
    font-size:25px;
    position:relative;
}

.barra-inferior{
    display: none;
}

@media (max-width:1100px) {
    .feed{   
        margin-left: 6%;
    }
}
   

@media (max-width:935px) {

.barra-superior{
    justify-content: space-between;
    padding-left: 3%;    
    padding-right: 4%;
}
.barra-lateral{
     display:none;
}
.container{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feed{
    margin: 0 auto;
    padding-top: 100px;
}
}


@media (max-width:614px){

    .logo {
        display:flex;
        width:60%;
        justify-content: space-between;
        font-size:25px;  
    }
    .box1, .pesquisa, .barra-superior-direito :nth-child(n+2) {
        display: none;
    }
    .barra-superior-direito{
        width: fit-content ;
    }
    .barra-inferior{
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        height: 50px;
        position: fixed;
        bottom: 0;
        left: 0;
        width:100%;
        font-size: 25px;
        background-color: #FFFFFF;
        border: 2px solid #DBDBDB;
    }
    .feed{
        padding-bottom:  5%;
        width: 100%;
        margin: 5% auto;
        height: 100%;
    }
    .posts{
        display: flex;
        flex-direction: column;
        gap: 200px;
    }
    .post{
        width: inherit;
        height:600px    ;
        margin-bottom:0px;
        background-color: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0px;  
    }
    .container{
    
    }
    .stories{
        height: 110px;
        width: 100%;
        background: initial;
        border: none;
        justify-content: flex-start;
        gap: 80px;
    }
    .flecha-stories{
        display: none;
    }
    

}